{% extends "demowebsite/base.html" %}

{% block title %}
    Watermark detection {{ detection.name }}
{% endblock %}

{% block content %}
    <div class="centerwrap container columns px-4 py-5 has-text-dark">
        <div class="column is-8 is-offset-2">
                <h1 class="is-title is-size-2 py-3 has-text-link">Watermark detection</h1>

            {% if detection %}
                <style>
                    .viewer {
                        display: flex;
                        justify-content: center;
                    }
                    .watermark {
                        position: relative;
                        display: inline-block;
                    }

                    .watermark img {
                        max-width: 100%;
                        max-height: 80vh;
                        height: auto;
                        width: auto;
                    }

                    .bbox {
                        position: absolute;
                        border: 2px solid red;
                    }
                </style>
                <h2 class="is-title is-size-3 pb-3 has-text-link-soft mt-0">{{ detection.name }}</h2>
                <p>Detection status: <span class="status status-{{ detection.status }}">{{ detection.status }}</span></p>
                {% if detection.status == "SUCCESS" and not detection.bounding_boxes %}
                    <p class="status">No watermarks detected</p>
                {% endif %}
                <div class="viewer">
                    <div class="watermark">
                        <img src="{{ detection.image.url }}" alt="Detected watermark">
                        {% for bbox in detection.bounding_boxes %}
                            <div class="bbox" style="left: {{ bbox.x }}%; top: {{ bbox.y }}%; width: {{ bbox.width }}%; height: {{ bbox.height }}%; opacity: {{ bbox.score }}"></div>
                        {% endfor %}
                    </div>
                </div>
                <details>
                    <summary>Full output</summary>
                    <pre>
{% if detection.annotations.items %}
{% for k, v in detection.annotations.items %}
{{ k }}: {{ v }}
{% endfor %}
{% else %}
{{ detection.annotations }}
{% endif %}
                    </pre>
                </details>
            {% endif %}

            <h2 class="is-title is-size-3 pb-3 has-text-link-soft mt-0">Process a new image</h2>
            <form method="post" enctype="multipart/form-data" action="{% url 'watermarks:start' %}">
                {% csrf_token %}
                {% include "demowebsite/baseform.html" %}
                <button type="submit" class="button is-link">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}
