{% extends "demowebsite/base.html" %}
{% load static %}

{% block title %}
    Watermark detection {{ detection.name }}
{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static "js/build.js" %}"></script>

    <div class="centerwrap container columns px-4 py-5 has-text-dark">
        <div class="column is-8 is-offset-2">
                <h1 class="is-title is-size-2 py-3 has-text-link">Watermark detection</h1>

            {% if object.is_finished %}
                {% if detection %}
                    <style>
                        .viewer {
                            display: flex;
                            justify-content: center;
                        }
                        .watermark {
                            position: relative;
                            display: inline-block;
                        }

                        .watermark img {
                            max-width: 100%;
                            max-height: 80vh;
                            height: auto;
                            width: auto;
                        }

                        .bbox {
                            position: absolute;
                            border: 2px solid red;
                        }
                    </style>
                    <h2 class="is-title is-size-3 pb-3 has-text-link-soft mt-0">{{ detection.name }}</h2>
                    <p>Detection status: <span class="status status-{{ detection.status }}">{{ detection.status }}</span></p>

                    <details>
                        <summary>Full output</summary>
                        <pre>
    {% if detection.annotations.items %}
    {% for k, v in detection.annotations.items %}
    {{ k }}: {{ v }}
    {% endfor %}
    {% else %}
    {{ detection.annotations }}
    {% endif %}{% if object.full_log %}{{ object.full_log }}{% endif %}
                        </pre>
                    </details>
                    {% if detection.status == "SUCCESS" and not detection.get_bounding_boxes %}
                        <p class="status">No watermarks detected</p>
                    {% endif %}
                    <div class="viewer">
                        <div class="watermark">
                            <img src="{{ detection.image.url }}" alt="Detected watermark">
                            {% for bbox in detection.get_bounding_boxes_as_xywh_pct %}
                                <div class="bbox" style="left: {{ bbox.x }}%; top: {{ bbox.y }}%; width: {{ bbox.width }}%; height: {{ bbox.height }}%; opacity: {{ bbox.score }}"></div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if detection.compare_to %}
                <div id="matches"></div>

                {{ detection.annotations|json_script:"annotations"}}
                <script type="text/javascript">
                    const annotations = JSON.parse(document.getElementById("annotations").textContent);
                    DemoTools.initWatermarkMatches(
                        document.getElementById("matches"), "{{ detection.image.url|escapejs }}",
                        annotations, "{{ detection.compare_to.data_folder_url|escapejs}}/");
                </script>
                {% endif %}

                <h2 class="is-title is-size-3 pb-3 has-text-link-soft mt-0">Process a new image</h2>
                <form method="post" enctype="multipart/form-data" action="{% url 'watermarks:start' %}">
                    {% csrf_token %}
                    {% include "demowebsite/baseform.html" %}
                    <button type="submit" class="button is-link">Submit</button>
                </form>
            </div>

        {% else %}
        <div id="tracking">
            <p>Status: {{ object.status }}</p>
        </div>

        <script type="text/javascript">
            DemoTools.initProgressTracker(document.getElementById("tracking"), "{% url app_name|add:':progress' object.id %}");
        </script>
    {% endif %}
    </div>

{% endblock %}
