{% extends "demowebsite/base.html" %}

{% block title %}
    Watermark comparison sources
{% endblock %}

{% block content %}
    <div class="centerwrap container columns px-4 py-5 has-text-dark">
        <div class="column is-8 is-offset-2">
            <h1 class="is-title is-size-2 py-3 has-text-link">Watermark sources</h1>

            <h2>Registered sources</h2>
            {% for source in sources %}
                <div class="box">
                    <h2 class="is-size-4 has-text-link">{{ source.name }} <span class="uid is-size-7">{{ source.uid }}</span></h2>
                    <p>{{ source.size }} images. <a href="{% url "watermarks:source-sim" source.pk %}">Browse similarity</a></p>
                    <p>{{ source.description }}</p>
                    <form action="{% url "watermarks:source-action" source.pk %}" method="post">
                    <p>Status: {{ source.active|yesno:"Active,Deprecated" }}.
                        {% csrf_token %}
                        <input type="submit" name="sync" value="Update from API" class="button is-link">
                        {% if source.active %}<input type="submit" name="deprecate" value="Deprecate" class="button is-danger is-outlined">{% endif %}
                    </p>
                    </form>
            </div>
            {% endfor %}

            <h2>Available sources from the API</h2>
            {% if api_error %}
                <div class="notification is-danger">
                    <p>{{ api_error }}</p>
                </div>
            {% else %}
            {% for source in extra_sources %}
                <div class="box">
                    <h2 class="is-size-4 has-text-link">{{ source.metadata.name }} <span class="uid is-size-7">{{ source.uid }}</span></h2>
                    <p>{{ source.metadata.size }} images</p>
                    <p>{{ source.metadata.description }}</p>
                    <form action="{% url "watermarks:source-add" %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="uid" value="{{ source.uid }}">
                        <input type="submit" value="Add source" class="button is-link">
                    </form>
                </div>
            {% empty %}
                <div class="notification is-info">
                    <p>No extra sources available.</p>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
