{% extends "demowebsite/base.html" %}
{% load static %}

{% block title %}
    Source comparison matrix
{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static "js/build.js" %}"></script>
<h3>Watermark similarity browser</h3>
<div id="matches" class="watermark-matches"></div>

<script type="text/javascript">
    const data_folder = "{{ object.data_folder_url|escapejs }}/";
    DemoTools.initWatermarkSimBrowser(
        document.getElementById("matches"),
        data_folder);
</script>
{% endblock %}
