[submodule "api/dti_source"]
	path = api/app/dti
	url = git@github.com:sonatbaltaci/dti-sprites.git

[submodule "similarity_source"]
	path = api/app/similarity
	url = git@github.com:Segolene-Albouy/SimilarityDetection.git

[submodule "api/similarity_source"]
	path = api/app/segswap
	url = git@github.com:faouinti/similarity.git
