[submodule "api/dti_source"]
	path = api/app/dti
	url = git@github.com:sonatbaltaci/dti-sprites.git

[submodule "api/similarity"]
	path = api/app/similarity
	url = git@github.com:Segolene-Albouy/SimilarityDetection.git
