{% load i18n shared_tags %}

{% csrf_token %}

{{ form.media }}
{{ form.non_field_errors }}
{% for field in form %}
    {{ field.errors }}
    {% if field|field_type == "HiddenInput" %}
        {{ field }}
    {% else %}
    <div class="field has-text-dark">
        {% if field|field_type == "CheckboxInput" %}
            <div>
                <label class="{% if field.field.required %}required{% endif %}"></label>
            </div>
            <div class="control">
                <label for="{{ field.id_for_label }}" class="label ">
                    {{ field|add_class:"checkbox" }}
                    {{ field.label }}
                </label>
                {% if field.help_text %}
                    <div class="help">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% elif field|field_type == "Textarea" or field|field_type == "CheckboxSelectMultiple" or field|field_type == "RadioSelect" %}
            <div>
                <label for="{{ field.id_for_label }}" class="label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
                {% if field.help_text %}
                    <div class="help">{{ field.help_text }}</div>
                {% endif %}
            </div>
            <div>
                {{ field }}
            </div>
        {% elif field|field_type == "Select" %}
            <label for="{{ field.id_for_label }}" class="label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
            <div>
                <div class="select">
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <div class="help">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% elif field|field_type == "ClearableFileInput" or field|field_type == "FileInput" %}
            <div class="file has-name is-fullwidth" id="{{ field.id_for_label }}-wrapper">
                <label for="{{ field.id_for_label }}" class="file-label {% if field.field.required %}required{% endif %}">
                    {{ field|add_class:"file-input" }}
                    <span class="file-cta">
                        <span class="file-icon">
                            <span class="iconify" data-icon="mdi:upload"></span>
                        </span>
                        <span class="file-label">{{ field.label }}</span>
                    </span>
                    <span class="file-name">No file selected</span>
                </label>
            </div>

            <script>
                const fileInput = document.querySelector("#{{ field.id_for_label|escapejs }}-wrapper input[type=file]");
                fileInput.onchange = () => {
                if (fileInput.files.length > 0) {
                    const fileName = document.querySelector("#{{ field.id_for_label|escapejs }}-wrapper .file-name");
                    fileName.textContent = fileInput.files[0].name;
                }
                };
            </script>
            <div>
                {% if field.help_text %}
                    <div class="help">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% else %}
            <label for="{{ field.id_for_label }}" class="label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
            <div>
                {{ field|add_class:"input" }}
                {% if field.help_text %}
                    <div class="help">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}
