{% load static shared_tags %}
<!doctype html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}?v1.1">
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}"/>
    {% block extra_head %}{% endblock %}
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation" data-theme="dark">
    <div class="navbar-brand ml-3">
        <a class="navbar-item" href="{% url 'home' %}">
            <img id="nav-icon" src="{% static "img/favicon.png" %}" alt="Icon">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" data-target="navbar-content">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar-content" class="navbar-menu">
        <div class="navbar-start">
            <a id="nav-title" href="{% url 'home' %}" class="navbar-item nav-link px-2">
                Discover Demo
            </a>

            {% can_admin_accounts request.user as is_admin %}
            {% if is_admin %}
                <a href="{% url "accounts_admin" %}" title="Admin accounts" class="navbar-item">
                    <span class="iconify mr-1" data-icon="mdi:shield"></span> <span>Admin</span>
                </a>
            {% endif %}

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Demos
                </a>

                <div class="navbar-dropdown">
                    {#                    <a href="{% url 'dticlustering:list' %}" class="navbar-item">#}
                    {#                        DTI clustering#}
                    {#                    </a>#}
                    <a href="{% url 'pipelines:list' %}" class="navbar-item">
                        Watermark detection
                    </a>
                    <a href="{% url 'regions:list' %}" class="navbar-item">
                        Visual element extraction
                    </a>
                    <a href="{% url 'similarity:list' %}" class="navbar-item">
                        Similarity retrieval
                    </a>
                    {# <hr class="navbar-divider"> #}
                    {# <a class="navbar-item">Report an issue</a> #}
                </div>
            </div>

            {% if request.user.is_authenticated %}
                <a href="{% url "datasets:list" %}" title="Datasets" class="navbar-item">
                    <span class="iconify mr-1" data-icon="mdi:database"></span> <span>Datasets</span>
                </a>
            {% endif %}
        </div>

        <div class="navbar-end mr-3">
            <div class="navbar-item">
                {% if request.user.is_authenticated %}
                    <div class="buttons">
                        <a class="button is-link" href="{% url 'account' %}" title="Profile">
                            {{ user.username }}
                        </a>
                        <a class="button is-link is-outlined" href="{% url 'logout' %}" title="Log out">
                            Log out
                        </a>
                    </div>
                {% else %}
                    <div class="buttons">
                        <a class="button is-link is-outlined" href="{% url 'login' %}">Log in</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="wrapper container" style="min-height: 80vh; max-width: 90vw">
    <div class="content">
        {% if messages %}
            <div class="centerwrap">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|urlize }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</div>

<footer class="footer mt-6 pb-5 pt-5" data-theme="light">
    <div class="columns is-centered" style="padding: 0 20vw">
        <a class="column is-2" href="https://imagine-lab.enpc.fr/">
            <figure class="image is-96x96 is-center p-4">
                <img src="{% static 'img/enpc.png' %}" alt="Laboratoire imagine - École des Ponts ParisTech logo">
            </figure>
        </a>
        <a class="column is-2" href="https://cordis.europa.eu/project/id/101076028">
            <figure class="image is-96x96 is-center mt-2">
                <img src="{% static 'img/erc.png' %}" alt="European Research Council logo">
            </figure>
        </a>
        <a class="column is-2" href="https://www.ins2i.cnrs.fr/fr/cnrsinfo/erc-des-ia-pour-faciliter-lanalyse-de-donnees-historiques-et-dimages-satellites">
            <figure class="image is-96x96 is-center p-2">
                <img src="{% static 'img/cnrs.png' %}" alt="CNRS logo">
            </figure>
        </a>
        <a class="column is-2" href="https://siteigm.univ-mlv.fr/">
            <figure class="image is-96x96 is-center p-2">
                <img src="{% static 'img/ligm.png' %}" alt="Laboratoire Informatique Gaspard Monge logo">
            </figure>
        </a>
    </div>

    <div class="columns is-centered">
        <div class="column is-8 has-text-centered">
            <hr class="mt-2">
            <strong>Discover Demo</strong> is a project hosted at École des Ponts ParisTech | Imagine Lab
        </div>
    </div>
</footer>
{% block extra_js %}{% endblock %}
<script src="https://code.iconify.design/3/3.1.1/iconify.min.js"></script>
</body>
</html>
