{% load static shared_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}?v1.0">
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ml-3">
        <a class="navbar-item" href="{% url 'home' %}">
            <img id="nav-icon" src="{% static "img/favicon.png" %}" alt="Icon">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-content">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar-content" class="navbar-menu">
        <div class="navbar-start">
            <a id="nav-title" href="{% url 'home' %}" class="navbar-item nav-link px-2 mt-1">
                Discover Demo
            </a>

            {% can_admin_accounts request.user as is_admin %}
            {% if is_admin %}
                <a href="{% url "accounts_admin" %}" title="Admin accounts" class="navbar-item">
                    <span class="iconify mr-1" data-icon="mdi:shield"></span> <span>Admin</span>
                </a>
            {% endif %}

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Demos
                </a>

                <div class="navbar-dropdown">
                    <a href="{% url 'dticlustering:list' %}" class="navbar-item">
                        DTI clustering
                    </a>
                    {#<a href="{% url 'watermarks:list' %}" class="navbar-item">Watermark detection</a>#}
                    {# <hr class="navbar-divider"> #}
                    {# <a class="navbar-item">Report an issue</a> #}
                </div>
            </div>
        </div>

        <div class="navbar-end mr-3">
            <div class="navbar-item">
                {% if request.user.is_authenticated %}
                    <div class="buttons">
                        <a class="button is-link" href="{% url 'account' %}" title="Profile">
                            {{ user.username }}
                        </a>
                        <a class="button is-link is-outlined" href="{% url 'logout' %}" title="Log out">
                            Log out
                        </a>
                    </div>
                {% else %}
                    <div class="buttons">
                        <a class="button is-info is-outlined" href="{% url 'login' %}">Log in</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="wrapper container" style="min-height: 80vh">
    <div class="content">
        {% if messages %}
            <div class="centerwrap">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|urlize }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</div>

<footer class="footer">
    {# <div class="content columns"> TODO PUT INSTITUTIONS LOGOS </div> #}
</footer>
{% block extra_js %}{% endblock %}
<script src="https://code.iconify.design/3/3.1.1/iconify.min.js"></script>
</body>
</html>
