{% load i18n shared_tags %}

{% csrf_token %}

{{ form.media }}

{{ form.non_field_errors }}
{% for field in form %}
    {{ field.errors }}
    <div class="field">
        {% if field|field_type == "CheckboxInput" %}
            <div class="">
                {{ field }}
                <label for="{{ field.id_for_label }}" class="{% if field.field.required %}required{% endif %}">{{ field.label }}</label>
                {% if field.help_text %}
                    <div class="help">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% elif field|field_type == "Textarea" or field|field_type == "CheckboxSelectMultiple" or field|field_type == "RadioSelect" %}
            <div class="label">
                <label for="{{ field.id_for_label }}" class="label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
                {% if field.help_text %}
                    <div class="help">{{ field.help_text }}</div>
                {% endif %}
            </div>
            <div>
                {{ field }}
            </div>
        {% elif field|field_type == "Select" %}
            <label for="{{ field.id_for_label }}" class="label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
            <div>
                <div class="select">
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <div class="help">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% else %}
            <label for="{{ field.id_for_label }}" class="label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
            <div>
                {{ field }}
                {% if field.help_text %}
                    <div class="help">{{ field.help_text }}</div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endfor %}
