{% load i18n shared_tags %}

{% csrf_token %}

{{ form.media }}

{% if form.non_field_errors %}
<div class="notification is-danger">
    {{ form.non_field_errors }}
</div>
{% endif %}

{% for field in form %}
    {% if field.errors %}
    <div class="notification is-danger">
        {{ field.errors }}
    </div>
    {% endif %}
    {% if field|field_type == "HiddenInput" %}
        {{ field }}
    {% else %}
        <div class="field">
            <div class="py-1">
                {# LABEL #}
                <label for="{{ field.id_for_label }}" class="label {% if field.field.required %}required{% endif %}">
                    {% if field|field_type != "CheckboxInput" %}{{ field.label }}{% else %}{% endif %}
                </label>
            </div>

            {% if field|field_type == "CheckboxInput" %}
                {% include "includes/form/checkbox.html" %}
            {% elif field|field_type == "Textarea" %}
                {% include "includes/form/textarea.html" %}
            {% elif field|field_type == "CheckboxSelectMultiple" %}
                {% include "includes/form/checkbox_multiple.html" %}
            {% elif field|field_type == "Select" %}
                {% include "includes/form/select.html" %}
            {% elif field|field_type == "RadioSelect" %}
                {% include "includes/form/radio.html" %}
            {% elif field|field_type == "ClearableFileInput" or field|field_type == "FileInput" %}
                {% include "includes/form/file.html" %}
            {% else %}
                {% include "includes/form/input.html" %}
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
