{% load static shared_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}?v1.0">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="centerwrap">
                <div class="title menu">
                    <a href="{% url 'home' %}">Discover Demo</a>
                    {% can_admin_accounts request.user as is_admin %}
                    {% if is_admin %}
                        <a href="{% url "accounts_admin" %}" title="Admin accounts"><span class="iconify" data-icon="mdi:shield-crown"></span> <span>Admin</span></a>
                    {% endif %}
                </div>

                <div class="menu">
                    <a href="{% url 'dticlustering:list' %}">DTI clusterings</a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'account' %}" title="Profile"><span class="iconify" data-icon="mdi:account"></span> {{ user.username }}</a>
                        <a href="{% url 'logout' %}" title="Log out"><span class="iconify" data-icon="mdi:logout"></span></a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="content">

            {% if messages %}
            <div class="centerwrap">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|urlize }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <footer></footer>
    </div>
    {% block extra_js %}{% endblock %}
    <script src="https://code.iconify.design/3/3.1.1/iconify.min.js"></script>
</body>
</html>