{% extends "demowebsite/base.html" %}

{% block title %}Cancel Task - {{ task_name }}{% endblock %}

{% block content %}
<div class="centerwrap">
    <h1>Cancel {{ task_name }}</h1>
    <p>Are you sure you want to cancel the {{ task_name }} task #{{ object.id }}?</p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="Cancel {{ task_name }}"> - <a href="{{ object.get_absolute_url }}">Take me back</a>
    </form>
</div>
{% endblock %}
