{% extends "demowebsite/base.html" %}
{% load static %}

{% block title %}Research demos{% endblock %}

{% block content %}
    <div class="centerwrap" id="demo-list">
        <h2 class="pb-2 border-bottom">Research demos</h2>

        {% include "includes/demo-card.html" with demo="dticlustering" demo_title="DTI clustering" demo_subtitle="Group images dataset on content" %}
        {% include "includes/demo-card.html" with demo="similarity" demo_title="Similarity retrieval" demo_subtitle="Find most similar images" %}
    </div>
{% endblock %}
