{% extends "demowebsite/base.html" %}
{% load static %}

{% block title %}Research demos{% endblock %}

{% block content %}
    <div class="centerwrap container p-5" id="demo-list">
        <div class="columns is-vcentered">
            <section class="is-6 column is-large">
                <h1 class="is-title is-size-2 py-3 is-link">Research demos</h1>
                <p class="notification is-light">
                    This project is supported by <strong>ERC project DISCOVER</strong> funded by the European Union’s
                    Horizon Europe Research and Innovation program under grant agreement No. 101076028.
                </p>
            </section>
        </div>
        <div class="columns is-vcentered">

            {% include "includes/demo-card.html" with demo="dticlustering" demo_title="DTI clustering" demo_subtitle="Group images dataset on content" %}
            {% include "includes/demo-card.html" with demo="watermarks" demo_title="Watermark detection" demo_subtitle="Detect a historical watermark in a page" %}
            {% include "includes/demo-card.html" with demo="regions" demo_title="Regions extraction" demo_subtitle="Retrieve visual elements from a document" %}

        </div>
    </div>
{% endblock %}
