{% load shared_tags %}

<div class="row">
    <div class="col">
        <h2 class="task-ref">
            <a href="{{ task.get_absolute_url }}">
                <span class="id-main">{{ task.name }}</span>
                <span class="id-suffix">{{ task.id }}</span>
            </a>
        </h2>
        {% if not filter and task.dataset %}
            <p>└ dataset
                <a href="{% url app_name|add:':list_perdataset' task.dataset.pk %}">
                    <span class="id-main">{{ task.dataset.name }}</span>
                    <span class="id-suffix">{{ task.dataset.id }}</span>
                </a>
            </p>
        {% endif %}
        {% for saved_task in task.task.all %}
            <p>└ manual clustering
                <a href="{{ task.get_absolute_url }}">
                    <span class="id-main">{{ task.name }}</span>
                    <span class="id-suffix">{{ task.id }}</span>
                </a>
            </p>
        {% endfor %}
    </div>
    <div class="col">
        <span class="tag status status-{{ task.status }}">{{ task.status }}</span>
    </div>
    <p class="user"><span class="iconify" data-icon="mdi:account"></span> {{ task.requested_by.username }}</p>
    <p class="date">{{ task.requested_on|date:"Y-m-d H:i" }}</p>
</div>
