@import "_variables.scss";

$toolbar-height: 60px;

.cluster-viewer {
    width: 100%;
    max-width: 100%;
    padding: 0;
    background-color: darken($bg-color, 10%);
    align-self: stretch;

    .cl-anchor {
        // Useful for scrollIntoView
        position: relative;
        top: calc(-1em - $toolbar-height);
        width: 0 !important;
        height: 0 !important;
        padding: 0 !important;
    }

    .cl-cluster-list {
        padding: 1em;
        width: 100%;

        .cl-cluster {
            position: relative;
            & > * {
                vertical-align: middle;
                //border: 1px solid $head-color;
                padding: 0.5em;
            }
            & > .cl-props {
                vertical-align: top;
                .cl-propcontent {
                    .cl-cluster-title {
                        display: flex;
                        font-weight: bold;
                        align-items: center;
                        font-size: 1.3em;
                        margin-top: 0;
                        padding-top: 0;

                        form {
                            display: contents;
                        }
                    }
                }
            }
            & > .cl-samples {
                width: auto;
                .cl-images {
                    overflow-y: auto;
                    // max-height: calc(100vh - 100px);

                    & > * {
                        margin: 0.5em;
                        background-color: rgba($main-color, 0.5);
                        display: inline-block;
                        text-align: center;
                        vertical-align: middle;
                        color: $head-color;
                        text-decoration: none;
                        position: relative;

                        img {
                            border-radius: 5px;
                            max-width: 100%;
                            max-height: 100%;
                            vertical-align: middle;
                        }
                    }
                }
                .cl-selectable.cl-images {
                    & > * {
                        .cl-selecter {
                            display: block;
                            position: absolute;
                            top: -7px;
                            left: -7px;
                            width: 20px;
                            height: 20px;
                            background-color: #fff;
                            border-radius: 5px;
                            border: 3px solid $head-color;
                            outline: 2px solid $head-color;
                            text-decoration: none;
                            line-height: 1;
                        }
                        &.cl-selected {
                            .cl-selecter {
                                background-color: $head-color;
                                border-color: #fff;
                                outline: 2px solid $head-color;
                            }
                            img {
                                outline: 4px solid $head-color;
                                border: 4px solid $head-color;
                            }
                        }
                    }
                }
            }
        }

        &.cl-display-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            align-items: stretch;

            .cl-cluster {
                background-color: $bg-color;
                flex: 1;
                min-width: 300px;
                max-width: 450px;
                border-radius: 5px;

                & > .cl-props {
                    background-color: $bg-color;
                    .cl-propcontent {
                        display: flex;
                        gap: 1em;
                        width: 100%;
                        justify-content: space-between;
                        .cl-protoinfo {
                            text-align: right;
                        }
                        .cl-proto img {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }

                & > .cl-samples {
                    .cl-images {
                        & > * {
                            width: 80px;
                            height: 80px;
                            line-height: 80px;
                        }
                    }
                }

                &.cl-expanded {
                    min-width: 100%;
                    max-width: unset;
                    flex-shrink: 0;

                    & > .cl-props {
                        position: sticky;
                        z-index: 4;
                        top: calc($toolbar-height);
                        padding-top: 0.5em;
                    }
                }
            }
        }

        &.cl-display-rows {
            display: table;
            border-collapse: separate;
            border-spacing: 0.5em 1em;

            .cl-cluster {
                display: table-row;
                overflow: hidden;
                & > * {
                    border-radius: 5px;
                    background-color: $bg-color;
                    display: table-cell;
                    padding: 0.5em;
                    &:not(:last-child) {
                        border-right: none;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                    &:not(:first-child) {
                        border-left: none;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
                & > .cl-props {
                    vertical-align: top;
                    .cl-propcontent {
                        position: sticky;
                        z-index: 4;
                        top: calc($toolbar-height + 1em);
                        width: 300px;
                        .cl-proto img {
                            width: 128px;
                            height: 128px;
                        }
                    }
                }
                & > .cl-samples {
                    width: auto;
                    .cl-images {
                        overflow-y: auto;
                        // max-height: calc(100vh - 100px);

                        & > * {
                            width: 128px;
                            height: 128px;
                            margin: 0.5em;
                            line-height: 128px;
                        }
                    }
                }
            }
        }
    }
    .cl-overlay {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: transparent !important;
        &.cl-hoveroptions {
            display: flex;
            align-items: center;
            justify-content: center;
            
            & > * {
                font-size: 1.5em;
            }

            &:hover {
                background-color: rgba(#fff, 0.7) !important;
            }
            &:not(:hover) {
                & > * {
                    display: none;
                }
            }
        }
    }
    .cl-hidden {
        display: none !important;
    }
    .cl-editor-toolbar {
        position: sticky;
        top: 0;
        background-color: #fff;
        padding: 1em;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        height: $toolbar-height;
        gap: 1em;
        .cl-editor-tools {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
        }
        .cl-options {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1em;
            flex: 1;
        }
    }
    .cl-modale {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: rgba(0,0,0,0.5);
        z-index: 30;

        .cl-modale-wrapper {
            max-height: 100vh;
            overflow-y: auto;
        }

        .cl-modale-content {
            max-width: 800px;
            border-radius: 20px;
            background-color: #fff;
            margin: 0 auto;
            padding: 1em;
            margin: 20px;
        }

        .cl-modale-actions {
            position: sticky;
            bottom: 0;
            background-color: #fff;
            padding: 1em 0;
            margin: 0;
            margin-top: 10px;
        }

        .cl-ask-select {
            .cl-ask-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .cl-cluster {
                    position: relative;
                    width: 380px;
                    padding: 0.5em;
                    border-radius: 5px;
                    &.cl-selected {
                        outline: 4px solid $head-color;
                    }

                    .cl-images {
                        & > * {
                            width: 64px;
                            height: 64px;
                            border-radius: 5px;
                            margin: 0.1em;
                            background-color: rgba($main-color, 0.5);
                            display: inline-block;
                            text-align: center;
                            vertical-align: middle;
                            color: $head-color;
                            line-height: 64px;
                            text-decoration: none;

                            img {
                                border-radius: 5px;
                                max-width: 100%;
                                max-height: 100%;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
    .cl-filler {
        visibility: hidden;
    }
}

.cl-saved-list {
    max-width: 600px;
    li {
        list-style: none;
        margin: 5px;

        & > a:not(.btn) {
            text-decoration: none;
            display: block;
            padding: 0.4em;
            font-weight: normal;
            border-radius: 2px;
            border: 2px solid $head-color;

            &:hover {
                background-color: lighten($bg-color, 5%);
            }

            span {
                display: inline-block;
                vertical-align: middle;
                margin: 0 0.5em;
            }

            .cl-saved-name {
                font-size: 1.2em;
                font-weight: bold;
                display: block;
            }
            .cl-saved-id {
                font-size: 0.8em;
            }
            .cl-saved-date {
                font-size: 0.8em;
                opacity: 0.8;
            }
        }
    }
}