
@import "_variables";

.tck-progress {
    .tck-bar-list {
        & > * {
            margin: 0.5em 0;
            background-color: #fff;
            display: flex;
            align-items: center;
            gap: 0.5em;
            padding: 0.5em 1em;

            progress {
                flex-grow: 1;
                margin: 0;
                border: none;
                appearance: none;
                background-color: #fff;
                border-radius: 10px;
                border: 1px solid $head-color;
                &::-webkit-progress-bar {
                    background-color: #fff;
                }
                &::-webkit-progress-value {
                    background-color: $head-color;
                }
                &::-moz-progress-bar {
                    background-color: $head-color;
                }
            }
        }
    }
}