$main-color: hsl(233, 100%, 63%);
$faded-color: lighten(saturate($main-color, 10%), 25%);
$bg-color: lighten(desaturate($main-color, 50%), 60%);
$border-color: saturate(darken($bg-color, 15%), 15%);
$head-color: $main-color; // saturate(darken($main-color, 30%), 15%);
$dark-color: desaturate(darken($head-color, 40%), 5%);
$border-radius: 5px;
$headfont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$red: #c81307;
$yellow: #ccb000;
$green: #7ebe1d;
$cyan: hsl(198, 75%, 40%);
$blue: $main-color;
$grey: lighten(desaturate($main-color, 80%), 15%);
$dark-grey: darken($grey, 35%);
$light-grey: lighten($grey, 25%);
