$main-color: hsla(233deg,100%,63%,1);
$faded-color: lighten(desaturate($main-color, 20%), 25%);
$bg-color: lighten(desaturate($main-color, 50%), 60%);
$border-color: saturate(darken($bg-color, 15%), 15%);
$head-color: $main-color; // saturate(darken($main-color, 30%), 15%);
$dark-color: desaturate(darken($head-color, 30%), 5%);
$border-radius: 5px;
$headfont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$red: #c81307;
$yellow: #ccb000;
$green: #7ebe1d;
$cyan: #7ebe1d;
$blue: saturate(lighten($main-color, 15%), 25%);
$grey: lighten(desaturate($main-color, 45%), 10%);
$dark-grey: darken($grey, 30%);
$light-grey: lighten($grey, 45%);
