@import "_variables";

.watermark-viewer {
    display: flex;
    justify-content: center;
    .watermark {
        position: relative;
        display: inline-block;
        img {
            max-width: 100%;
            max-height: 70vh;
            height: auto;
            width: auto;
        }
        .bbox {
            position: absolute;
            border: 2px solid red;
            .score {
                position: absolute;
                top: 0;
                left: 0;
                background-color: red;
                color: white;
                padding: 0.2em 0.4em;
                font-size: 0.8em;
            }
            &:not(:hover) {
                .score {
                    display: none;
                }
            }
            &:hover {
                opacity: 1 !important;
            }
        }
    }
}

.watermark-matches {
    .viewer-options {
        margin: 1em 0;
    }
    .match-row {
        display: flex;
        justify-content: center;
        gap: 0.5em;
        .match-group, .match-query, .match-expanded {
            border: 8px solid lighten($faded-color, 5%);
            padding: 0.5em;
            border-radius: 4*$border-radius;

            h4 {
                height: 2.5em;
                max-height: 2.5em;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .match-results {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0.2em;
            .match-group {
                max-width: 200px;
                flex-basis: 200px;
                .match-expanded {
                    position: absolute;
                    width: 100%;
                    min-height: 100%;
                    background-color: white;
                    z-index: 2;
                    top: 0;
                    left: 0;
                }
            }
        }
        .match-item {
            position: relative;
            display: inline-block;
            line-height: 0;
            width: 100%;
            height: 100%;
            max-width: 200px;
            flex-basis: 200px;
            min-width: 120px;
            min-height: 120px;

            .match-tools {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 1.5em;

                a {
                    padding: 0.2em;
                }

                svg path {
                    stroke: white;
                    paint-order: stroke;
                    stroke-width: 2;
                }
            }
            .similarity {
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                font-size: 0.8em;
                font-weight: bold;
                padding: 0.4em 0.6em;
                border-radius: 2*$border-radius 0 0 0;
                line-height: 1;
            }
        }

        .match-query {
            border-color: $main-color;
        }
    }

    .match-img {
        &.rot90 {
            transform: rotate(270deg);
        }
        &.rot180 {
            transform: rotate(180deg);
        }
        &.rot270 {
            transform: rotate(90deg);
        }
        &.hflip {
            transform: scaleX(-1);
        }
        &.hflip.rot90 {
            transform: rotate(270deg) scaleX(-1);
        }
        &.hflip.rot180 {
            transform: rotate(180deg) scaleX(-1);
        }
        &.hflip.rot270 {
            transform: rotate(90deg) scaleX(-1);
        }
    }

    .magnifier {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: #fff;
        min-width: 60vw;
        min-height: 60vh;
        border: 8px solid lighten($faded-color, 5%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4*$border-radius;
    }

}

.details-wrapper:not(.detailed) .details-content {
    display: none;
}
