@use "bulma/sass" with (
    $scheme-main: hsl(233, 100%, 63%),
);

@import "_variables";

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    font: 100% Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: $main-color !important;
}

h2 {
    color: $dark-color !important;
}

a {
    font-weight: bold;
    color: $head-color;
    text-decoration: none !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-icon {
    max-height: 30px;
    width: auto;
    object-fit: contain; /* or object-fit: cover; */
}

#nav-title {
    font-family: monospace;
    font-size: larger;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.strong {
    color: var(--bulma-text-strong);
    font-size: var(--bulma-size-normal);
    font-weight: var(--bulma-weight-semibold);
}

.centerwrap {
    max-width: 900px;
    width: 100%;
    margin: 1% auto;
    padding-top: 2em;
}

pre {
    max-width: 900px;
    overflow: auto;
    white-space: pre-wrap;
    background: #333;
    color: #eee;
    border: 2px solid #ccc;
    padding: 1em;
    text-indent: 0;
}

.iconify {
    width: 1em;
    margin-right: 5px;
    min-width: 1em;
    height: 1em;
    min-height: 1em;
    display: inline-block;
}

input[type="submit"], input[type="file"], button, .btn {
    white-space: normal;
    text-align: center;
    font: 16px $headfont;
    font-weight: 500;
    border: none;
    padding: 0.6em 0.6em;
    border-radius: $border-radius;
    display: inline-flex;
    vertical-align: middle;
    margin: 0.1em 0.3em;
    min-height: 1.5em;
    min-width: 1.5em;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;

    .iconify {
        margin: 0em;
        width: 1.3em;
        height: 1.3em;
        & + span {
            margin-left: 0.3em;
        }
    }
    iconify-icon {
        font-size: 1.3em;
        margin: -0.15em 0 0;

        & + span {
            margin-left: 0.2em;
        }
    }

    &.cancel, &.validate {
        color: #fff;
        padding: 0 5px;
    }
    &.cancel {
        background: $red;
        border-color: darken($red, 20%);
    }
    &.validate {
        background: $green;
        border-color: darken($green, 20%);
    }
    &:disabled, &.disabled {
        background-color: #ccc;
        border-color: #ccc;
        color: #fff;
        pointer-events: none;
    }
    &.big {
        font-size: 1.3em;
    }

    &.is-outline {
        background-color: lighten($bg-color, 5%);
        border: 2px solid $main-color;
        color: $main-color;
    }
}

.text-shadow {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.card-cover {
    background-position: center center;
    box-shadow: inset 0 0 0 2000px rgba(47, 21, 6, 0.2);
    text-decoration: none !important;
}

ul.messages {
    margin: 0.5em 0;

    li {
        background: #ccc;
        color: #333;
        padding: 0.6rem 1rem;
        font-weight: bold;
        list-style: none;
        font-size: 0.9em;
        border-radius: $border-radius;

        &.success {
            background-color: darken($green, 50%);
            color: #fff;
        }
        &.warning, &.error {
            background-color: darken($red, 50%);
            color: #fff;
        }
    }
}

// List of tasks

.task-list {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    .row {
        background-color: lighten($bg-color, 5%);
        border-radius: $border-radius;
        border: 2px solid $grey;
        margin: 0.5em 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em 1em 1em;

        h2, p {
            margin: 0;
        }
        h2 {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p.date {
            position: absolute;
            top: -0.5em;
            right: 1em;
            font-size: 0.7em;
            font-weight: bold;
            background-color: inherit;
            padding: 0.5em;
            border-radius: $border-radius;
        }
        p.user {
            position: absolute;
            border-radius: $border-radius;
            top: -0.5em;
            left: 1em;
            font-size: 0.9em;
            background-color: inherit;
            padding: 0.3em 0.5em;
        }
        .task-ref {
            a {
                color: $dark-color !important;
            }
        }
        div.task-ref {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 0.3em;
        }
    }
}

.status {
    background-color: $main-color;
    color: #fff;
    padding: 0.3em 0.5em 0.25em;
    font-size: 0.8em;
    margin: 0;
    border-radius: $border-radius;
    font-weight: bold;
    &.status-CANCELLED, &.status-UNKNOWN {
        background-color: $grey;
    }
    &.status-PENDING {
        background-color: $yellow;
    }
    &.status-ERROR {
        background-color: $red;
    }
    &.status-SUCCESS {
        background-color: $green;
    }
}

.id-suffix {
    font-size: 0.6em;
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

// Pagination

.pagination {
    display: flex;
    width: 100%;
    align-items: center;

    .pagination-list {
        flex: 1;
        display: flex;
        justify-content: right;
        margin: 0.3em 0;
    }
}

// Nice tables

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 0.5em 0;
    overflow: hidden;
}


.clickable {
    transition: all 0.3s ease;
    box-shadow: 0 0.5em 1em -0.125em hsla(var(--bulma-shadow-h), var(--bulma-shadow-s), 50%, 0.3);
}
.clickable:hover {
    transform: translateY(2px);
    box-shadow: 0 0.5em 0.4em -0.125em hsla(var(--bulma-shadow-h), var(--bulma-shadow-s), 50%, 0.4);
}

.is-top {
    z-index: 1000;
}
.is-center {
    margin: auto;
    text-align: center;
    justify-content: center;
}
.is-middle {
    display: flex;
    align-content: center;
    align-items: center;
}
.is-left {
    display: flex;
    justify-content: flex-start !important;
}
.is-right {
    display: flex;
    justify-content: flex-end !important;
}
.is-bold {
    font-weight: bold;
}
.is-wide {
    width: 100%;
}
.is-tall {
    height: 100%;
}
.smaller {
    font-size: 0.75em;
}
.larger {
    font-size: 1.25em;
}
.center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@import "_progresstracking";
@import "_clusterviewer";
@import "_watermarkmatches";
