@import "_variables";

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    font: 100% Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: $head-color;
}

a {
    font-weight: bold;
    color: $head-color;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 40px;
    width: 100%;
    border-bottom: 2px solid $main-color;
    // repeated stripes 60deg background
    display: flex;

    background-image: repeating-linear-gradient(
        60deg,
        $main-color,
        $main-color 1px,
        transparent 1px,
        transparent 7px
    );

    .centerwrap {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .menu {
            display: flex;

        }
        a {
            display: block;
            background-color: $bg-color;
            border-left: 2px solid $main-color;
            border-right: 2px solid $main-color;
            margin-right: -2px;
            border-collapse: collapse;
            height: 100%;
            padding: 0.5em 1em;
            text-align: bottom;
            text-decoration: none;
            &:hover {
                background-color: $main-color;
                color: #fff;
            }
            .iconify {
                font-size: 1.3em;
                margin-top: -0.1em;
                text-align: center;
                vertical-align: middle;
            }
        }
    }

}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.centerwrap {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

pre {
    max-width: 900px;
    overflow: auto;
    white-space: pre-wrap;
    background: #333;
    color: #eee;
    border: 2px solid #ccc;
    padding: 1em;
    text-indent: 0;
}

// FORMS AND INPUTS

form {

    &.transparent {
        background: transparent;
    }
    
    .field {
        border: 2px solid $main-color;
        border-radius: $border-radius;
        margin: 5px 0;
        display: flex;
        background: #fff;
        padding: 10px;
        
        & > label, & > .label {
            display:inline-block;
            width: 250px;
            text-align: right;
            margin-right: 12px;
            padding-top: 5px;
            flex-shrink: 0;
            
            &.required:before {
                margin-right: 5px;
                content:"*";
                color: $red;
            }
        }

        ul li{
            margin: 5px 0;
        }

        &.field-CheckboxSelectMultiple, &.field-RadioSelect {
            .input {
                input {
                    position: relative;
                    z-index: 2;
                }
                li {
                    margin-top: 0.3em;
                    display: flex;
                    gap: 0.4em;
                    align-items: center;
                }
                label {
                    color: $bg-color;
                    border-radius: 2em;
                    padding: 0.35em 0.8em;
                    margin-left: -2.2em;
                    padding-left: 2.2em;
                }
                :checked+label {
                    background-color: $dark-color;
                    color: #fff;
                }
            }
        }
        
        label {
            font-family: $headfont;
            font-weight: bold;
        }
        .help, &.field-PasswordInput ul li {
            font-style: italic;
            font-size: 0.9em;
            color: lighten(desaturate($dark-color, 10%), 10%);
        }
        .input {
            display:inline-block;
            flex-grow:1;
            margin-right:10px;
            label, .label {
                font-weight: 500;
            }
        }
    }
}


input[type='text'], input[type='password'],
input[type='email'], input[type='number'], textarea, select {
    font-family: $headfont;
    font-weight: normal;
    border: none;
    border-bottom: 1px solid $main-color;
    width: 100%;
    max-width: 100%;
    padding: 0.6em 1em;
    transition: border 1s ease-out, background 1s ease-out;
    background-color: $bg-color;
    &:focus-visible {
        outline: 2px solid $main-color;
    }
}

.iconify {
    width: 1em;
    min-width: 1em;
    height: 1em;
    min-height: 1em;
    display: inline-block;
}

input[type="submit"], input[type="file"], button, .btn {
    white-space: normal;
    text-align: center;
    font: 16px $headfont;
    font-weight: 500;
    background-color: $head-color;
    color: #fff;
    // border: 6px double #fff;
    border: none;
    padding: 0.6em 0.6em;
    border-radius: 10px;
    display: inline-flex;
    vertical-align: middle;
    margin: 0.1em 0.3em;
    min-height: 1.5em;
    min-width: 1.5em;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;

    &:hover {
        background-color: darken($head-color, 10%);
    }

    .iconify {
        margin: 0em;
        width: 1.3em;
        height: 1.3em;
        & + span {
            margin-left: 0.3em;
        }
    }
    iconify-icon {
        margin: 0;
        font-size: 1.3em;
        margin-top: -0.15em;
        & + span {
            margin-left: 0.2em;
        }
    }

    &.annule, &.valide {
        color: #fff;
        padding: 0 5px;
    }
    &.annule {
        background: #c81307;
        border-color: darken(#c81307, 20%);
    }
    &.valide {
        background:#89d813;
        border-color: darken(#89d813, 20%);
    }
    &:disabled, &.disabled {
        background-color: #ccc;
        border-color: #ccc;
        color: #fff;
        pointer-events: none;
    }
    &.big {
        font-size: 1.3em;
    }

    &.is-outline {
        background-color: lighten($bg-color, 5%);
        border: 2px solid $head-color;
        color: $head-color;
    }
}


ul.messages {
    margin: 0.5em 0;

    li {
        background: #ccc;
        color: #333;
        padding: 0.6rem 1rem;
        font-weight: bold;
        list-style: none;
        font-size: 0.9em;
        border-radius: 0.5em;

        &.success {
            background-color: #095736;
            color: #fff;
        }
        &.warning, &.error {
            background-color: #7c0e06;
            color: #fff;
        }
    }
}

// DTI: List of tasks

.dti-list {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    .row {
        display: block;
        background-color: lighten($bg-color, 5%);
        border-radius: 10px;
        padding: 1em;
        border: 2px solid $main-color;
        margin: 0.5em 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.5em;

        h2, p {
            margin: 0;
        }
        h2 {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .status {
            background-color: $main-color;
            color: #fff;
            padding: 0.3em 0.5em;
            margin: 0;
            border-radius: 0.5em;
            font-weight: bold;
            &.status-CANCELLED {
                background-color: #808080;
            }
            &.status-PENDING {
                background-color: #dbce10;
            }
            &.status-ERROR {
                background-color: #c81307;
            }
            &.status-SUCCESS {
                background-color: #13d886;
            }
        }
        p.date {
            position: absolute;
            top: -0.5em;
            right: 1em;
            font-size: 0.7em;
            font-weight: bold;
            background-color: inherit;
            padding: 0.5em;
            border-radius: 0.5em;
        }
        p.user {
            position: absolute;
            border-radius: 0.5em;
            top: -0.5em;
            left: 1em;
            font-size: 0.9em;
            background-color: inherit;
            padding: 0.3em 0.5em;
        }
    }
}

.id-suffix {
    font-size: 0.7em;
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

// Pagination

.pagination {
    display: flex;
    width: 100%;
    align-items: center;
    opacity: 0.7;
    padding: 0.1em;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;

    a.pagination-link, a.pagination-next {
        display: inline-block;
        text-align: center;
        padding: 0.4em 0.4em;
        min-width: 1em;
        background-color: $bg-color;
        transition: background-color 0.3s ease-in-out;
        text-decoration: none;

        &[href]:hover {
            background-color: lighten($bg-color, 20%);
        }
        &:not([href]) {
            opacity: 0.5;
        }
    }

    .pagination-list {
        flex: 1;
        display: flex;
        justify-content: right;
        margin: 0.3em 0;
    }

    li {
        list-style-type: none;
    }
}

@import "_progresstracking";
@import "_clusterviewer";