{% load static shared_tags %}

{% with demo|add_str:":start" as demo_url %}
    <a class="column is-one-third" href="{% url demo_url %}" data-theme="dark">
        <div class="card clickable">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="{% static 'img/'|add:demo|add:'.jpg' %}" alt="{{ demo }} image"/>
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content" style="height: 95px">
                        <p class="title is-4 mb-2">{{ demo_title }}</p>
                        <p class="subtitle is-6">{{ demo_subtitle }}</p>
                    </div>
                </div>
            </div>
        </div>

    </a>
{% endwith %}
