*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #e9f0ec;
  font: 100% Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #35a561;
}

a {
  font-weight: bold;
  color: #35a561;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #a0d3b4;
  background-image: repeating-linear-gradient(60deg, #a0d3b4, #a0d3b4 1px, transparent 1px, transparent 7px);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.centerwrap {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

pre {
  max-width: 900px;
  overflow: auto;
  white-space: pre-wrap;
  background: #333;
  color: #eee;
  border: 2px solid #ccc;
  padding: 1em;
  text-indent: 0;
}

form.transparent {
  background: transparent;
}
form .field {
  border: 2px solid #a0d3b4;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  background: #fff;
  padding: 10px;
}
form .field > label, form .field > .label {
  display: inline-block;
  width: 250px;
  text-align: right;
  margin-right: 12px;
  padding-top: 5px;
  flex-shrink: 0;
}
form .field > label.required:before, form .field > .label.required:before {
  margin-right: 5px;
  content: "*";
  color: #c81307;
}
form .field ul li {
  margin: 5px 0;
}
form .field.field-CheckboxSelectMultiple .input input, form .field.field-RadioSelect .input input {
  position: relative;
  z-index: 2;
}
form .field.field-CheckboxSelectMultiple .input li, form .field.field-RadioSelect .input li {
  margin-top: 0.3em;
  display: flex;
  gap: 0.4em;
  align-items: center;
}
form .field.field-CheckboxSelectMultiple .input label, form .field.field-RadioSelect .input label {
  color: #e9f0ec;
  border-radius: 2em;
  padding: 0.35em 0.8em;
  margin-left: -2.2em;
  padding-left: 2.2em;
}
form .field.field-CheckboxSelectMultiple .input :checked + label, form .field.field-RadioSelect .input :checked + label {
  background-color: #11301d;
  color: #fff;
}
form .field label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
form .field .help, form .field.field-PasswordInput ul li {
  font-style: italic;
  font-size: 0.9em;
  color: #254f35;
}
form .field .input {
  display: inline-block;
  flex-grow: 1;
  margin-right: 10px;
}
form .field .input label, form .field .input .label {
  font-weight: 500;
}

input[type=text], input[type=password],
input[type=email], input[type=number], textarea, select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  border: none;
  border-bottom: 1px solid #a0d3b4;
  width: 100%;
  max-width: 100%;
  padding: 0.6em 1em;
  transition: border 1s ease-out, background 1s ease-out;
  background-color: #e9f0ec;
}
input[type=text]:focus-visible, input[type=password]:focus-visible,
input[type=email]:focus-visible, input[type=number]:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: 2px solid #a0d3b4;
}

input[type=submit], input[type=file], button, .btn {
  white-space: normal;
  text-align: center;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  background-color: #35a561;
  color: #fff;
  border: none;
  padding: 0.6em 0.6em;
  border-radius: 10px;
  display: inline-flex;
  vertical-align: middle;
  margin: 0.1em 0.3em;
  min-height: 1.5em;
  min-width: 1.5em;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}
input[type=submit]:hover, input[type=file]:hover, button:hover, .btn:hover {
  background-color: #287f4a;
}
input[type=submit] .iconify, input[type=file] .iconify, button .iconify, .btn .iconify {
  margin: 0em;
  width: 1.3em;
  height: 1.3em;
}
input[type=submit] .iconify + span, input[type=file] .iconify + span, button .iconify + span, .btn .iconify + span {
  margin-left: 0.3em;
}
input[type=submit] iconify-icon, input[type=file] iconify-icon, button iconify-icon, .btn iconify-icon {
  margin: 0;
  font-size: 1.3em;
  margin-top: -0.15em;
}
input[type=submit] iconify-icon + span, input[type=file] iconify-icon + span, button iconify-icon + span, .btn iconify-icon + span {
  margin-left: 0.2em;
}
input[type=submit].annule, input[type=submit].valide, input[type=file].annule, input[type=file].valide, button.annule, button.valide, .btn.annule, .btn.valide {
  color: #fff;
  padding: 0 5px;
}
input[type=submit].annule, input[type=file].annule, button.annule, .btn.annule {
  background: #c81307;
  border-color: #650a04;
}
input[type=submit].valide, input[type=file].valide, button.valide, .btn.valide {
  background: #89d813;
  border-color: #4e7a0b;
}
input[type=submit]:disabled, input[type=submit].disabled, input[type=file]:disabled, input[type=file].disabled, button:disabled, button.disabled, .btn:disabled, .btn.disabled {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
  pointer-events: none;
}
input[type=submit].big, input[type=file].big, button.big, .btn.big {
  font-size: 1.3em;
}

.dti-list {
  display: table;
}
.dti-list .row {
  display: table-row;
}
.dti-list .row > * {
  display: table-cell;
  padding: 0.5em;
}

.tck-progress .tck-bar-list > * {
  margin: 0.5em 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em;
}
.tck-progress .tck-bar-list > * progress {
  flex-grow: 1;
  margin: 0;
  border: none;
  appearance: none;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #35a561;
}
.tck-progress .tck-bar-list > * progress::-webkit-progress-bar {
  background-color: #fff;
}
.tck-progress .tck-bar-list > * progress::-webkit-progress-value {
  background-color: #35a561;
}
.tck-progress .tck-bar-list > * progress::-moz-progress-bar {
  background-color: #35a561;
}

.cluster-viewer {
  width: 100%;
  max-width: 100%;
  padding: 0;
  background-color: #ccdad1;
  align-self: stretch;
}
.cluster-viewer .cl-anchor {
  position: relative;
  top: calc(-1em - 60px);
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
}
.cluster-viewer .cl-cluster-list {
  padding: 1em;
  width: 100%;
}
.cluster-viewer .cl-cluster-list .cl-cluster {
  position: relative;
}
.cluster-viewer .cl-cluster-list .cl-cluster > * {
  vertical-align: middle;
  padding: 0.5em;
}
.cluster-viewer .cl-cluster-list .cl-cluster > .cl-props {
  vertical-align: top;
}
.cluster-viewer .cl-cluster-list .cl-cluster > .cl-props .cl-propcontent .cl-cluster-title {
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: 1.3em;
  margin-top: 0;
  padding-top: 0;
}
.cluster-viewer .cl-cluster-list .cl-cluster > .cl-props .cl-propcontent .cl-cluster-title form {
  display: contents;
}
.cluster-viewer .cl-cluster-list .cl-cluster > .cl-samples {
  width: auto;
}
.cluster-viewer .cl-cluster-list .cl-cluster > .cl-samples .cl-images {
  overflow-y: auto;
}
.cluster-viewer .cl-cluster-list .cl-cluster > .cl-samples .cl-images > * {
  margin: 0.5em;
  background-color: rgba(160, 211, 180, 0.5);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #35a561;
  text-decoration: none;
  position: relative;
}
.cluster-viewer .cl-cluster-list .cl-cluster > .cl-samples .cl-images > * img {
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.cluster-viewer .cl-cluster-list .cl-cluster > .cl-samples .cl-selectable.cl-images > * .cl-selecter {
  display: block;
  position: absolute;
  top: -7px;
  left: -7px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 3px solid #35a561;
  outline: 2px solid #35a561;
  text-decoration: none;
  line-height: 1;
}
.cluster-viewer .cl-cluster-list .cl-cluster > .cl-samples .cl-selectable.cl-images > *.cl-selected .cl-selecter {
  background-color: #35a561;
  border-color: #fff;
  outline: 2px solid #35a561;
}
.cluster-viewer .cl-cluster-list .cl-cluster > .cl-samples .cl-selectable.cl-images > *.cl-selected img {
  outline: 4px solid #35a561;
  border: 4px solid #35a561;
}
.cluster-viewer .cl-cluster-list.cl-display-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: stretch;
}
.cluster-viewer .cl-cluster-list.cl-display-grid .cl-cluster {
  background-color: #e9f0ec;
  flex: 1;
  min-width: 300px;
  max-width: 450px;
  border-radius: 5px;
}
.cluster-viewer .cl-cluster-list.cl-display-grid .cl-cluster > .cl-props {
  background-color: #e9f0ec;
}
.cluster-viewer .cl-cluster-list.cl-display-grid .cl-cluster > .cl-props .cl-propcontent {
  display: flex;
  gap: 1em;
  width: 100%;
  justify-content: space-between;
}
.cluster-viewer .cl-cluster-list.cl-display-grid .cl-cluster > .cl-props .cl-propcontent .cl-protoinfo {
  text-align: right;
}
.cluster-viewer .cl-cluster-list.cl-display-grid .cl-cluster > .cl-props .cl-propcontent .cl-proto img {
  width: 80px;
  height: 80px;
}
.cluster-viewer .cl-cluster-list.cl-display-grid .cl-cluster > .cl-samples .cl-images > * {
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.cluster-viewer .cl-cluster-list.cl-display-grid .cl-cluster.cl-expanded {
  min-width: 100%;
  max-width: unset;
  flex-shrink: 0;
}
.cluster-viewer .cl-cluster-list.cl-display-grid .cl-cluster.cl-expanded > .cl-props {
  position: sticky;
  z-index: 4;
  top: 60px;
  padding-top: 0.5em;
}
.cluster-viewer .cl-cluster-list.cl-display-rows {
  display: table;
  border-collapse: separate;
  border-spacing: 0.5em 1em;
}
.cluster-viewer .cl-cluster-list.cl-display-rows .cl-cluster {
  display: table-row;
  overflow: hidden;
}
.cluster-viewer .cl-cluster-list.cl-display-rows .cl-cluster > * {
  border-radius: 5px;
  background-color: #e9f0ec;
  display: table-cell;
  padding: 0.5em;
}
.cluster-viewer .cl-cluster-list.cl-display-rows .cl-cluster > *:not(:last-child) {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.cluster-viewer .cl-cluster-list.cl-display-rows .cl-cluster > *:not(:first-child) {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.cluster-viewer .cl-cluster-list.cl-display-rows .cl-cluster > .cl-props {
  vertical-align: top;
}
.cluster-viewer .cl-cluster-list.cl-display-rows .cl-cluster > .cl-props .cl-propcontent {
  position: sticky;
  z-index: 4;
  top: calc(60px + 1em);
  width: 300px;
}
.cluster-viewer .cl-cluster-list.cl-display-rows .cl-cluster > .cl-props .cl-propcontent .cl-proto img {
  width: 128px;
  height: 128px;
}
.cluster-viewer .cl-cluster-list.cl-display-rows .cl-cluster > .cl-samples {
  width: auto;
}
.cluster-viewer .cl-cluster-list.cl-display-rows .cl-cluster > .cl-samples .cl-images {
  overflow-y: auto;
}
.cluster-viewer .cl-cluster-list.cl-display-rows .cl-cluster > .cl-samples .cl-images > * {
  width: 128px;
  height: 128px;
  margin: 0.5em;
  line-height: 128px;
}
.cluster-viewer .cl-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: transparent !important;
}
.cluster-viewer .cl-overlay.cl-hoveroptions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cluster-viewer .cl-overlay.cl-hoveroptions > * {
  font-size: 1.5em;
}
.cluster-viewer .cl-overlay.cl-hoveroptions:hover {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.cluster-viewer .cl-overlay.cl-hoveroptions:not(:hover) > * {
  display: none;
}
.cluster-viewer .cl-hidden {
  display: none !important;
}
.cluster-viewer .cl-editor-toolbar {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  height: 60px;
  gap: 1em;
}
.cluster-viewer .cl-editor-toolbar .cl-editor-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.cluster-viewer .cl-editor-toolbar .cl-options {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  flex: 1;
}
.cluster-viewer .cl-modale {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
}
.cluster-viewer .cl-modale .cl-modale-wrapper {
  max-height: 100vh;
  overflow-y: auto;
}
.cluster-viewer .cl-modale .cl-modale-content {
  max-width: 800px;
  border-radius: 20px;
  background-color: #fff;
  margin: 0 auto;
  padding: 1em;
  margin: 20px;
}
.cluster-viewer .cl-modale .cl-modale-actions {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 1em 0;
  margin: 0;
  margin-top: 10px;
}
.cluster-viewer .cl-modale .cl-ask-select .cl-ask-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cluster-viewer .cl-modale .cl-ask-select .cl-ask-list .cl-cluster {
  position: relative;
  width: 380px;
  padding: 0.5em;
  border-radius: 5px;
}
.cluster-viewer .cl-modale .cl-ask-select .cl-ask-list .cl-cluster.cl-selected {
  outline: 4px solid #35a561;
}
.cluster-viewer .cl-modale .cl-ask-select .cl-ask-list .cl-cluster .cl-images > * {
  width: 64px;
  height: 64px;
  border-radius: 5px;
  margin: 0.1em;
  background-color: rgba(160, 211, 180, 0.5);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #35a561;
  line-height: 64px;
  text-decoration: none;
}
.cluster-viewer .cl-modale .cl-ask-select .cl-ask-list .cl-cluster .cl-images > * img {
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.cluster-viewer .cl-filler {
  visibility: hidden;
}