*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #e9f0ec;
  font: 100% Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #35a561;
}

a {
  font-weight: bold;
  color: #35a561;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #a0d3b4;
  background-image: repeating-linear-gradient(60deg, #a0d3b4, #a0d3b4 1px, transparent 1px, transparent 7px);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.centerwrap {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

form.transparent {
  background: transparent;
}
form .field {
  border: 2px solid #a0d3b4;
  border-radius: 3px;
  margin: 5px 0;
  display: flex;
  background: #fff;
  padding: 10px;
}
form .field > label, form .field > .label {
  display: inline-block;
  width: 250px;
  text-align: right;
  margin-right: 12px;
  padding-top: 5px;
  flex-shrink: 0;
}
form .field > label.required:before, form .field > .label.required:before {
  margin-right: 5px;
  content: "*";
  color: #c81307;
}
form .field ul li {
  margin: 5px 0;
}
form .field.field-CheckboxSelectMultiple .input input, form .field.field-RadioSelect .input input {
  position: relative;
  z-index: 2;
}
form .field.field-CheckboxSelectMultiple .input li, form .field.field-RadioSelect .input li {
  margin-top: 0.3em;
  display: flex;
  gap: 0.4em;
  align-items: center;
}
form .field.field-CheckboxSelectMultiple .input label, form .field.field-RadioSelect .input label {
  color: #e9f0ec;
  border-radius: 2em;
  padding: 0.35em 0.8em;
  margin-left: -2.2em;
  padding-left: 2.2em;
}
form .field.field-CheckboxSelectMultiple .input :checked + label, form .field.field-RadioSelect .input :checked + label {
  background-color: #11301d;
  color: #fff;
}
form .field label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
form .field .help, form .field.field-PasswordInput ul li {
  font-style: italic;
  font-size: 0.9em;
  color: #254f35;
}
form .field .input {
  display: inline-block;
  flex-grow: 1;
  margin-right: 10px;
}
form .field .input label, form .field .input .label {
  font-weight: 500;
}

input[type=text], input[type=password],
input[type=email], input[type=number], textarea, select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  border: none;
  border-bottom: 1px solid #a0d3b4;
  width: 100%;
  max-width: 100%;
  padding: 0.6em 1em;
  transition: border 1s ease-out, background 1s ease-out;
  background-color: #e9f0ec;
}
input[type=text]:focus-visible, input[type=password]:focus-visible,
input[type=email]:focus-visible, input[type=number]:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: 2px solid #a0d3b4;
}

input[type=submit], input[type=file], .btn {
  white-space: normal;
  text-align: center;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  background-color: #35a561;
  color: #fff;
  border: 6px double #fff;
  padding: 12px 17px;
  display: inline-block;
}
input[type=submit].annule, input[type=submit].valide, input[type=file].annule, input[type=file].valide, .btn.annule, .btn.valide {
  color: #fff;
  padding: 0 5px;
}
input[type=submit].annule, input[type=file].annule, .btn.annule {
  background: #c81307;
  border-color: #650a04;
}
input[type=submit].valide, input[type=file].valide, .btn.valide {
  background: #89d813;
  border-color: #4e7a0b;
}

pre {
  max-width: 900px;
  overflow: auto;
  white-space: pre-wrap;
  background: #333;
  color: #eee;
  border: 2px solid #ccc;
  padding: 1em;
  text-indent: 0;
}

#progress-wrapper > * {
  margin: 0.5em 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em;
}
#progress-wrapper > * progress {
  flex-grow: 1;
  margin: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #35a561;
}
#progress-wrapper > * progress::-webkit-progress-bar {
  background-color: #fff;
}
#progress-wrapper > * progress::-webkit-progress-value {
  background-color: #35a561;
}
#progress-wrapper > * progress::-moz-progress-bar {
  background-color: #35a561;
}

.dti-list {
  display: table;
}
.dti-list .row {
  display: table-row;
}
.dti-list .row > * {
  display: table-cell;
  padding: 0.5em;
}

.cluster-viewer {
  width: 100%;
  max-width: 100%;
  padding: 1em;
  background-color: #ccdad1;
  align-self: stretch;
}
.cluster-viewer .cluster-list {
  width: 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 0.5em 1em;
  /*.cluster:not(.expanded) .samples img:nth-child(n + 5) {
      display: none;
  }*/
}
.cluster-viewer .cluster-list .cluster {
  display: table-row;
  position: relative;
  overflow: hidden;
}
.cluster-viewer .cluster-list .cluster > * {
  background-color: #e9f0ec;
  vertical-align: middle;
  border-radius: 5px;
  display: table-cell;
  padding: 0.5em;
}
.cluster-viewer .cluster-list .cluster > *:not(:last-child) {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.cluster-viewer .cluster-list .cluster > *:not(:first-child) {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.cluster-viewer .cluster-list .cluster > .props {
  vertical-align: top;
}
.cluster-viewer .cluster-list .cluster > .props .propcontent {
  position: sticky;
  top: 1em;
  width: 300px;
}
.cluster-viewer .cluster-list .cluster > .props .propcontent h3 {
  margin-top: 0;
  padding-top: 0;
}
.cluster-viewer .cluster-list .cluster > .props .propcontent .proto img {
  width: 128px;
  height: 128px;
}
.cluster-viewer .cluster-list .cluster > .samples {
  width: auto;
}
.cluster-viewer .cluster-list .cluster > .samples .samplecontent {
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}
.cluster-viewer .cluster-list .cluster > .samples .samplecontent > * {
  width: 128px;
  height: 128px;
  border-radius: 5px;
  margin: 0.5em;
  background-color: rgba(160, 211, 180, 0.5);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.cluster-viewer .cluster-list .cluster > .samples .samplecontent > *:not(img) {
  color: #35a561;
  line-height: 128px;
}
.cluster-viewer .overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: transparent !important;
}
.cluster-viewer .hidden {
  display: none !important;
}/*# sourceMappingURL=style.css.map */