{% extends "demowebsite/base.html" %}

{% block title %}My profile{% endblock %}

{% block content %}
<div class="centerwrap">
    <h1>My profile</h1>
    <p>
        <span class="strong">Name</span>: {{ user.get_full_name }}
    </p>
    <p>
        <span class="strong">Email</span>: {{ user.email }}
    </p>
    <p>
        <span class="strong">Username</span>: {{ user.username }}
    </p>
    <p>
        <span class="strong">Registered since</span>: {{ user.date_joined }}
    </p>
    <p>
        <a href="{% url 'password_change' %}" class="button is-light"><span class="iconify" data-icon="mdi:form-textbox-password"></span> <span>Change password</span></a>
        <a href="{% url 'account_edit' %}" class="button is-light"><span class="iconify" data-icon="mdi:account-edit"></span> <span>Edit profile</span></a>
    </p>
</div>
{% endblock %}
