{% extends "demowebsite/base.html" %}
{% load i18n static %}

{% block title %}Delete account{% endblock %}

{% block content %}
<div class="centerwrap">
<h1>Delete account {{ user.username }}</h1>

<form action="" method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete this account? This action cannot be undone.</p>
    <p>Objects that will be destroyed:</p>
    <pre>{{ deleting|linebreaks }}</pre>
    <p>
        <a href="{% url "accounts_admin" %}">Go back</a> 
        <input type="submit" class="button is-primary" value="Delete account" />
    </p>
</form>
</div>
{% endblock %}