{% extends "demowebsite/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="centerwrap">
    <h1>Sign in</h1>
    <form action="" method="post" enctype="multipart/form-data" class="">
        {% include "demowebsite/baseform.html" %}
        <p class="has-text-centered py-4">
            <input type="submit" value="Sign in">
        </p>
    </form>
    <p class="has-text-centered pt-2">Don't have an account? <a href="{% url 'account_request' %}">Sign up</a></p>
    <p class="has-text-centered">Forgot password? <a href="{% url 'password_reset' %}">Reset password</a></p>
</div>
{% endblock %}
