$main-color: #a0d3b4;
$bg-color: lighten(desaturate($main-color, 20%), 20%);
$head-color: saturate(darken($main-color, 30%), 15%);
$dark-color: desaturate(darken($head-color, 30%), 5%);
$border-radius: 3px;
$red: #c81307;
$headfont: "Helvetica Neue", Helvetica, Arial, sans-serif;