$main-color: #a0d3b4;
$bg-color: lighten(desaturate($main-color, 20%), 20%);
$head-color: saturate(darken($main-color, 30%), 15%);

body {
    background-color: $bg-color;
    font: 100% Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: $head-color;
}

a {
    font-weight: bold;
    color: $head-color;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 40px;
    width: 100%;
    border-bottom: 2px solid $main-color;
    // repeated stripes 60deg background
    background-image: repeating-linear-gradient(
        60deg,
        $main-color,
        $main-color 1px,
        transparent 1px,
        transparent 7px
    );
}

.content {
    max-width: 1200px;
}