{% extends "demowebsite/base.html" %}
{% load shared_tags %}

{% block title %}Start a new {{ task_name }} task{% endblock %}

{% block content %}
<div class="centerwrap">
    {% include "includes/breadcrumbs.html" %}

    <h1 class="is-title is-size-2 py-3">Start a new {{ task_name }}</h1>
    {% if from_task %}
        <p>Using same dataset as {{ task_name }} <a href="{{ from_task.get_absolute_url }}">#{{ from_task.id }}</a></p>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="notification is-danger is-light py-3 px-4">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        {# Base Fields #}

        {{ form.media }}

        <div class="field-group">
            {% for field in form %}
                {% if not field.name|startswith:available_algorithms.keys %}
                    {% include "includes/form/form_field.html" with field=field %}
                {% endif %}
            {% endfor %}
        </div>

        {# Similarity algorithm fields #}
        {% for algo, desc in available_algorithms.items %}
            <div id="algo-{{ algo }}" class="algorithms mt-5 message box is-light has-background-light" style="display: none;">
                <h3 class="title is-spaced">{{ algo|capfirst }} Settings</h3>
                <p class="message-body has-background-light-soft">
                    {{ desc }}
                </p>
                {% for field in form %}
                    {% if field.name|startswith:algo %}
                        {% include "includes/form/form_field.html" with field=field %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

        <p class="has-text-centered">
            <input class="button is-link" type="submit" value="Start processing">
        </p>
    </form>
</div>
{% endblock %}

{% block extra_js %}
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const algorithmSelect = document.getElementById("id_algorithm");
        const algorithmDivs = document.querySelectorAll(".algorithms");
        const usePreprocessing = document.querySelectorAll(".use-preprocessing");

        function toggleAlgorithmFields() {
            const selectedAlgo = algorithmSelect.value;
            algorithmDivs.forEach(div => {
                div.style.display = div.id === `algo-${selectedAlgo}` ? "block" : "none";
            });
        }

        function togglePreprocessing(checkbox) {
            const checked = checkbox.checked;
            const preprocessingFields = checkbox.closest(".algorithms").querySelectorAll(".preprocessing-field");
            preprocessingFields.forEach(div => {
                div.style.display = checked ? "block" : "none";
            })
        }

        if (algorithmSelect) {
            algorithmSelect.addEventListener("change", toggleAlgorithmFields);
            toggleAlgorithmFields();
        }
        if (usePreprocessing) {
            usePreprocessing.forEach(checkbox => {
                checkbox.addEventListener("change", function() {togglePreprocessing(this)});
                togglePreprocessing(checkbox)
            });
        }
    });
    </script>
{% endblock %}
