{% extends "demowebsite/base.html" %}

{% block title %}Cancel Task - {{ task_name }}{% endblock %}

{% block content %}
<div class="centerwrap">
    <h1 class="is-title is-size-2 py-3">Cancel {{ task_name }}</h1>
    <p>Are you sure you want to cancel the <span class="strong">{{ task_name }} task #{{ object.id }}</span>?</p>
    <form class="columns py-4" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="column is-2 button is-danger is-light is-middle" type="submit">
            <span class="iconify" data-icon="mdi:delete"></span>
            <span>Cancel task</span>
        </button>
        <a class="button is-ghost column is-2" href="{{ object.get_absolute_url }}">Take me back</a>
    </form>
</div>
{% endblock %}
