{% extends "demowebsite/base.html" %}

{% block title %}Delete a task{% endblock %}

{% block content %}
<div class="centerwrap">
    <h1 class="is-title is-size-2 py-3 has-text-link">Delete {{ task_name }}</h1>
    <p>Are you sure you want to delete the {{ task_name }} #{{ object.id }}?</p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="Delete"> - <a href="{{ object.get_absolute_url }}">Take me back</a>
    </form>
</div>
{% endblock %}
