{% extends "demowebsite/base.html" %}

{% block title %}Monitoring {{ task_name }}{% endblock %}

{% block content %}
    <div class="centerwrap">
        <h1 class="is-title is-size-2 py-3 is-link">Monitoring dashboard</h1>

        {% include "includes/breadcrumbs.html" %}

        <h2>API status</h2>
        {% if api.error %}
            <p class="error">Error: {{ api.error }}</p>
        {% else %}
            <p class="success">Internal API is online</p>
            {% if api.queues %}
                {% for q in api.queues.values %}
                    <p>Queue <code>{{ q.name }}</code> has currently {{ q.size }} items</p>
                {% endfor %}
            {% else %}
                <p>No queues found</p>
            {% endif %}
            {% if api.total_size %}
                <p>Total disk usage for datasets and trained models: <b>{{ api.total_size|filesizeformat }}</b></p>
            {% endif %}
            <form action="{% url app_name|add:':monitor_clear_api' %}" method="post">
                {% csrf_token %}
                <p>
                    <button type="submit" class="button is-light">
                        <span class="iconify" data-icon="mdi:broom"></span>
                        <span>Clear old tasks from API server</span>
                    </button>
                </p>
            </form>
        {% endif %}

        <h2>Front-end status</h2>
        <p>{{ frontend.n_experiments }} {{ task_name }} tasks requested, using {{ frontend.n_datasets }} datasets.</p>
        <p>Total disk usage for datasets and results: <b>{{ frontend.total_size|filesizeformat }}</b></p>
        <form action="{% url app_name|add:':monitor_clear_front' %}" method="post">
            {% csrf_token %}
            <p>
                <button type="submit" class="button is-light">
                    <span class="iconify" data-icon="mdi:broom"></span>
                    <span>Clear old tasks from frontend server</span>
                </button>
            </p>
        </form>
    </div>
{% endblock %}
