{% extends "demowebsite/base.html" %}

{% block title %}Start a new {{ task_name }} task{% endblock %}

{% block content %}
<div class="centerwrap">
    {% if request.user.is_authenticated %}
        <p class="breadcrumbs">
            <a href="{% url app_name|add:':list' %}">&lt; all {{ task_name }} experiments</a>
        </p>
    {% endif %}
    <h1 class="is-title is-size-2 py-3 has-text-link">Start a new {{ task_name }}</h1>
    {% if from_task %}
        <p>Using same dataset as {{ task_name }} <a href="{{ from_task.get_absolute_url }}">#{{ from_task.id }}</a></p>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "demowebsite/baseform.html" %}
        <p class="has-text-centered">
            <input class="button is-link" type="submit" value="Start processing">
        </p>
    </form>
</div>
{% endblock %}
