{% extends "demowebsite/base.html" %}

{% block title %}Start a new {{ task_name }} task{% endblock %}

{% block content %}
{% include "includes/breadcrumbs.html" %}
<div class="centerwrap">

    <h1 class="is-title is-size-2 py-3">Start a new {{ task_name }}</h1>
    {% if from_task %}
        <p>Using same configuration as {{ task_name }} <a href="{{ from_task.get_absolute_url }}">#{{ from_task.id }}</a></p>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% block form_content %}
            {% include "tasking/task_form.html" %}
        {% endblock %}

        <p class="has-text-centered pt-3">
            <input class="button is-link" type="submit" value="Start processing">
        </p>
    </form>
</div>
{% endblock %}
