{% extends "demowebsite/base.html" %}
{% load static shared_tags %}

{% block title %}{{ task_name }} experiment #{{ object.name }}-{{ object.id }}{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static "js/build.js" %}?v1.1"></script>

<div class="centerwrap">

    {% include "includes/breadcrumbs.html" %}

    <h1>
        {{ task_name }}
        <span class="id-main">{{ object.name }}</span>
        <span class="id-suffix">{{ object.id }}</span>
    </h1>
    <p>
        Requested by {{ object.requested_by }}
        {% if object.dataset %}
            on dataset
            <a class="is-hoverable" href="{% url app_name|add:':list_perdataset' object.dataset.pk %}">
                <span class="id-main">{{ object.dataset.name }}</span>
                <span class="id-suffix">{{ object.dataset.id }}</span>
            </a>
        {% endif %}
    </p>
    <p>
        {% if not object.is_finished %}
            <a href="{% url app_name|add:':cancel' object.id %}" class="button is-ghost">
                <span class="iconify" data-icon="mdi:close-circle"></span>
                <span>Cancel</span>
            </a>
        {% endif %}
        {% if object.dataset %}
        <a class="button is-link is-light" href="{{ object.dataset.zip_file.url }}">
            <span class="iconify" data-icon="mdi:folder-download"></span> <span>Download dataset</span>
        </a>
        {% endif %}
        {% if object.is_finished %}
            {% if object.dataset %}
                <a href="{% url app_name|add:':restart' object.id %}" class="button is-link is-light ml-2">
                    <span class="iconify" data-icon="mdi:clock-start"></span>
                    <span>Start new {{ task_name }} with same dataset</span>
                </a>
            {% endif %}
            <a href="{% url app_name|add:':delete' object.pk %}" class="button is-light">
                <span class="iconify" data-icon="mdi:delete"></span>
                <span>Delete this experiment</span>
            </a>
        {% endif %}
    </p>
    {% if object.parameters %}<pre>Parameters : {{ object.parameters }}</pre>{% endif %}
</div>
{% if object.is_finished %}
    <div class="centerwrap">
        <p>Status: <span class="status status-{{ object.status }}">{{ object.status }}</span></p>

        {% if object.full_log %}<pre>{{ object.full_log }}</pre>{% endif %}
    </div>

    {% block results %}
        {% include app_name|add:'/results.html' %}
    {% endblock %}

{% else %}
<div class="centerwrap">
    <div id="tracking">
        <p>Status: {{ object.status }}</p>
    </div>

    <script type="text/javascript">
        DemoTools.initProgressTracker(document.getElementById("tracking"), "{% url app_name|add:':progress' object.id %}");
    </script>
</div>
{% endif %}
{% endblock %}
