{% extends "demowebsite/base.html" %}
{% load shared_tags %}

{% block title %}List of previous DTI clustering tasks{% endblock %}

{% block content %}
<div class="centerwrap">
    {% if filter %}
        <p class="breadcrumbs"><a href="{% url "dticlustering:list" %}">&lt; all clustering list</a></p>
        <h1>{{ filter }}</h1>
    {% else %}
        <p class="breadcrumbs"><a href="{% url "dticlustering:monitor" %}">&lt; monitoring dashboard</a></p>
        <h1>All DTI Clusterings</h1>
    {% endif %}

    {% include "demowebsite/pagination.html" %}

    <div class="dti-list">
        {% for clustering in object_list %}
            <div class="row">
                <div class="col">
                    <h2><a href="{{ clustering.get_absolute_url }}"><span class="id-main">{{ clustering.name }}-{{ clustering.id|uuid_prefix }}</span><span class="id-suffix">{{ clustering.id|uuid_suffix }}</span></a></h2>
                    {% if not filter %}<p>└ dataset <a href="{% url "dticlustering:list_perdataset" clustering.dataset.pk %}">{{ clustering.dataset.id }}</a></p>{% endif %}
                </div>
                <div class="col">
                    <p class="status status-{{ clustering.status }}">{{ clustering.status }}</p>
                </div>
                <p class="date">{{ clustering.requested_on|date:"Y-m-d h:i" }}</p>
            </div>
        {% endfor %}
    </div>

    {% include "demowebsite/pagination.html" %}

</div>
{% endblock %}