{% extends "demowebsite/base.html" %}
{% load shared_tags dti %}

{% block title %}List of previous DTI clustering tasks{% endblock %}

{% block content %}
<div class="centerwrap">
    {% if filter %}
        <p class="breadcrumbs">
            <a href="{% url "dticlustering:list" %}">
                &lt; all clustering list
            </a>
        </p>
        <h1>{{ filter }}</h1>
    {% else %}
        <h1>All DTI Clusterings</h1>
    {% endif %}

    {% include "includes/pagination.html" %}

    <p>
        <a href="{% url "dticlustering:start" %}" class="btn btn-primary">
            <span class="iconify" data-icon="mdi:clock-start"></span> <span>Start a new DTI clustering</span>
        </a>
        {% can_monitor_dti request.user as is_admin %}
        {% if is_admin %}
            <a href="{% url "dticlustering:monitor" %}" class="btn is-outline">
                <span class="iconify" data-icon="mdi:database-cog"></span> <span>Monitor DTI clusterings</span>
            </a>
        {% endif %}
    </p>

    <div class="task-list">
        {% for clustering in object_list %}
            <div class="row">
                <div class="col">
                    <h2>
                        <a href="{{ clustering.get_absolute_url }}">
                            <span class="id-main">{{ clustering.name }}-{{ clustering.id|uuid_prefix }}</span>
                            <span class="id-suffix">{{ clustering.id|uuid_suffix }}</span>
                        </a>
                    </h2>
                    {% if not filter %}
                        <p>└ dataset
                            <a href="{% url "dticlustering:list_perdataset" clustering.dataset.pk %}">
                                <span class="id-main">{{ clustering.dataset.name }}-{{ clustering.dataset.id|uuid_prefix }}</span>
                                <span class="id-suffix">{{ clustering.dataset.id|uuid_suffix }}</span>
                            </a>
                        </p>
                    {% endif %}
                    {% for saved_clustering in clustering.saved_clustering.all %}
                        <p>└ manual clustering
                            <a href="{{ saved_clustering.get_absolute_url }}">
                                <span class="id-main">{{ saved_clustering.name }}-{{ saved_clustering.id|uuid_prefix }}</span>
                                <span class="id-suffix">{{ saved_clustering.id|uuid_suffix }}</span>
                            </a>
                        </p>
                    {% endfor %}
                </div>
                <div class="col">
                    <p class="status status-{{ clustering.status }}">{{ clustering.status }}</p>
                </div>
                <p class="user"><span class="iconify" data-icon="mdi:account"></span> {{ clustering.requested_by.username }}</p>
                <p class="date">{{ clustering.requested_on|date:"Y-m-d H:i" }}</p>
            </div>
        {% endfor %}
    </div>

    {% include "includes/pagination.html" %}

</div>
{% endblock %}
