{% extends "demowebsite/base.html" %}
{% load static %}

{% block title %}DTI clustering{% endblock %}

{% block content %}
<div class="centerwrap">
    {% if request.user.is_authenticated %}
        <p class="breadcrumbs">
            <a href="{% url "dticlustering:list" %}">
                &lt; clustering list
            </a>
        </p>
    {% endif %}
    <h1>Clustering result {{ object.id }}</h1>
    <p>Based on DTI task <a href="{{ from_task.get_absolute_url }}">#{{ from_task.name }}-{{ from_task.id }}</a></p>
    {% if object.id %}
        <p>
            <a href="{% url "dticlustering:saved_delete" object.from_task_id object.pk %}" class="btn">
                <span class="iconify" data-icon="mdi:delete"></span> <span>Delete</span>
            </a>
            <a class="btn" href="{% url "dticlustering:saved_export" object.from_task_id object.pk %}">
                <span class="iconify" data-icon="mdi:folder-download"></span> <span>Export as CSV</span>
            </a>
        </p>
    {% endif %}

    <form action="" method="POST" class="cl-hidden">
        {% csrf_token %}
        {% include "demowebsite/baseform.html" %}
    </form>
</div>

<div id="result" class="cluster-viewer"></div>

<script type="text/javascript" src="{% static "js/build.js" %}"></script>
<script type="text/javascript">
    console.log(document.getElementById("id_clustering_data"))
    const FORM_FIELD = document.getElementById("id_clustering_data");
    let result_data = JSON.parse(FORM_FIELD.value);
    console.log(result_data);
    DemoTools.initClusterViewer(document.getElementById("result"), result_data, "{{ from_task.result_media_url|escapejs }}/", true, {{ editing|yesno:"true,false"}}, FORM_FIELD);
</script>
{% endblock %}
