{% extends "demowebsite/base.html" %}

{% block title %}Start a new DTI clustering task{% endblock %}

{% block content %}
<div class="centerwrap">
    <h1>Start a new DTI Clustering</h1>
    {% if from_task %}<p>Using same dataset as clustering <a href="{{ from_task.get_absolute_url }}">#{{ from_task.id }}</a></p>{% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "demowebsite/baseform.html" %}
        <p class="centered"><input type="submit" value="Start processing"></p>
    </form>
</div>
{% endblock %}
