{% extends "tasking/start.html" %}

{% block form_content %}
    {% include "demowebsite/dataset_baseform.html" with excluded_fields="p_n_clusters,p_batch_size,p_transforms,p_background,empty_cluster_thres,lr,source,metadata" %}

    <h3 class="title mb-2">Prototype configuration</h4>
    <hr class="mt-0 mb-1">

    <div class="columns is-flex is-align-items-center is-justify-content-space-between m-0">
        <div class="column pl-0">
            {% include "includes/form/form_field.html" with field=form.p_n_clusters %}
        </div>
        <div class="column">
             {% include "includes/form/form_field.html" with field=form.empty_cluster_thres %}
        </div>
    </div>
    <div class="columns is-flex is-align-items-center is-justify-content-space-between pb-2 m-0">
        <div class="column pl-0">
             {% include "includes/form/form_field.html" with field=form.source %}
        </div>
        <div class="column">
             {% include "includes/form/form_field.html" with field=form.lr %}
        </div>
    </div>

    {% include "dticlustering/transforms.html" with field=form.p_transforms %}

    {% include "dticlustering/use-sprites.html" with field=form.p_background %}
{% endblock %}
