{% extends "demowebsite/base.html" %}

{% block title %}Start a new DTI clustering task{% endblock %}

{% block content %}
    <h1>Start a new DTI Clustering</h1>
    {% if from_dti %}<p>Using same dataset as clustering <a href="{{ from_dti.get_absolute_url }}">#{{ from_dti.id }}</a></p>{% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "demowebsite/baseform.html" %}
        <p align="center"><input type="submit" value="Start processing"></p>
    </form>
{% endblock %}