{% extends "demowebsite/base.html" %}

{% block title %}DTI clustering task #{{ object.id }}{% endblock %}

{% block content %}
    <h1>DTI Clustering #{{ object.id }}</h1>
    <p>
        {% if not object.is_finished %}<a href="{% url "dticlustering:cancel" object.id %}">Cancel</a> - {% endif %}
        <a href="{{ object.dataset.zip_file.url }}">Download dataset</a>
    </p>
    <p>Status: {{ object.status }}</p>
    <pre>Parameters : {{ object.parameters }}</pre>
    {% if object.is_finished %}
    <p>
        {% if object.result_zip_exists %}<a href="{{ object.result_zip_url }}">Download results</a> - {% endif %}
        <a href="{% url "dticlustering:restart" object.id %}">Start new clustering with same dataset</a>
    </p>

    <pre>{{ object.get_full_log }}</pre>

    {% if object.expanded_results %}
    <div class="dti-results">
        <h2>Results</h2>
        <p>Number of clusters: {{ object.expanded_results.clusters|length }}. 
            {% if object.expanded_results.cluster_by_path %}
            <a href="{{ object.expanded_results.cluster_by_path }}">Export cluster assignation as csv</a>
            {% endif %}
        </p>

        {% if object.expanded_results.backgrounds %}
        <h3>Backgrounds</h3>
        <div class="backgrounds">
            {% for image in object.expanded_results.backgrounds %}
            <div class="pair">
                <img src="{{ image }}" alt="Background {{ forloop.count }} raw">
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% for cluster in object.expanded_results.clusters %}
            <h3>Cluster {{ cluster.id }}</h3>
            <div class="cluster">
                <div class="models">
                    <div class="prototype">
                        <img src="{{ cluster.prototype }}" alt="Prototype image">
                    </div>
                    {% if cluster.mask %}
                    <div class="mask">
                        <img src="{{ cluster.mask }}" alt="Prototype mask">
                    </div>
                    {% endif %}
                </div>
                <div class="images">
                    <div class="top">
                        {% for image in cluster.tops %}
                        <div class="pair">
                            <img src="{{ image.raw }}" alt="Top {{ forloop.count }} raw">
                            <img src="{{ image.tsf }}" alt="Top {{ forloop.count }} transformed">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="random">
                        {% for image in cluster.randoms %}
                        <div class="pair">
                            <img src="{{ image.raw }}" alt="Top {{ forloop.count }} raw">
                            <img src="{{ image.tsf }}" alt="Top {{ forloop.count }} transformed">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% else %}

        <div id="progress-wrapper"></div>
        <pre id="status"></pre>
        <script type="text/javascript">
            let $status = document.getElementById("status");
            let $progress_wrapper = document.getElementById("progress-wrapper");
            const PROGRESS_URL = "{% url "dticlustering:progress" object.id %}";
            // refresh regularly with fetch
            function refresh() {
                fetch(PROGRESS_URL)
                    .then(response => {setTimeout(refresh, 2000); return response.json()})
                    .then(data => {
                        try {
                            if (data.status == "PENDING") {
                                $status.innerHTML = "\nWaiting for a worker...";
                                return;
                            }
                            $status.innerHTML = data.log.infos.join("\n");
                            $progress_wrapper.innerHTML = "";

                            if (data.log.progress)
                                for (let progress of data.log.progress) {
                                    let $bar_wrapper = document.createElement("div");
                                    
                                    let $label = document.createElement("span");
                                    $label.classList.add("label");
                                    $label.innerHTML = progress.context + " " + progress.current + "/" + progress.total;
                                    $bar_wrapper.appendChild($label);

                                    let $bar = document.createElement("progress");
                                    $bar.classList.add("bar");
                                    $bar.value = progress.current;
                                    $bar.max = progress.total;
                                    $bar_wrapper.appendChild($bar);
                                    
                                    $progress_wrapper.appendChild($bar_wrapper);
                                }
                        } catch (e){
                            $status.innerHTML = JSON.stringify(data);
                        }
                        if (data.is_finished) {
                            window.location.reload();
                        }
                    });
            }
            refresh();
        </script>

    {% endif %}

{% endblock %}