{% extends "demowebsite/base.html" %}

{% block title %}DTI clustering task #{{ object.id }}{% endblock %}

{% block content %}
    <h1>DTI Clustering #{{ object.id }}</h1>
    <a href="{% url "dticlustering:cancel" object.id %}">Cancel</a>
    <a href="{{ object.dataset.zip_file.url }}">Download dataset</a>
    {% if object.is_finished %}
    <pre>{{ object.get_full_log }}</pre>
    {% else %}
    <pre id="status"></pre>
    <script type="text/javascript">
        let $status = document.getElementById("status");
        const PROGRESS_URL = "{% url "dticlustering:progress" object.id %}";
        // refresh regularly with fetch
        function refresh() {
            fetch(PROGRESS_URL)
                .then(response => response.json())
                .then(data => {
                    $status.innerHTML = data.log.log;
                    if (data.is_finished) {
                        window.location.reload();
                    }
                });
        }
        setInterval(refresh, 5000);
    </script>
    {% endif %}
{% endblock %}