# set to 'prod' to use production settings
TARGET=dev

# apps (folder names) to be imported to the API
INSTALLED_APPS=dticlustering,watermarks,similarity

# url used on production
PROD_URL=http://localhost:8001

# port on which the dev api is running
DEV_PORT=5000

# folder path for data storage (containing subfolders with apps names) keep /data/ for Docker
API_DATA_FOLDER=/data/

# password to secure redis
# REDIS_PASSWORD=

# GPU number to be used during dev
DEVICE_NB=2

# uncomment to set a specific port for dramatiq during dev
# dramatiq_prom_port="9192"

# uncomment to set a specific folder for dramatiq prometheus database during dev
# dramatiq_prom_db=/tmp/dramatiq-prometheus

#######################
#    DTICLUSTERING    #
#######################

# where results are exposed by nginx (must match docker-confs/nginx.conf)
DTI_XACCEL_PREFIX=/media/dti-results

#######################
#      SIMILARITY     #
#######################

# where results are exposed by nginx (must match docker-confs/nginx.conf)
SIM_XACCEL_PREFIX=/media/similarity-results

#######################
#      WATERMARKS     #
#######################

# Relative path from API_DATA_FOLDER where watermarks models are stored
WATERMARKS_MODEL_FOLDER=watermarks/models/
